// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 0px;
$fb-offset-x: 0px;
$fb-offset-y: 0px;
$fb-width: 28px;
$fb-height: 28px;
$fb-total-width: 56px;
$fb-total-height: 56px;
$fb-image: 'sprite.png';
$fb: (0px, 0px, 0px, 0px, 28px, 28px, 56px, 56px, 'sprite.png', 'fb', );
$google-name: 'google';
$google-x: 28px;
$google-y: 0px;
$google-offset-x: -28px;
$google-offset-y: 0px;
$google-width: 28px;
$google-height: 28px;
$google-total-width: 56px;
$google-total-height: 56px;
$google-image: 'sprite.png';
$google: (28px, 0px, -28px, 0px, 28px, 28px, 56px, 56px, 'sprite.png', 'google', );
$rss-name: 'rss';
$rss-x: 0px;
$rss-y: 28px;
$rss-offset-x: 0px;
$rss-offset-y: -28px;
$rss-width: 28px;
$rss-height: 28px;
$rss-total-width: 56px;
$rss-total-height: 56px;
$rss-image: 'sprite.png';
$rss: (0px, 28px, 0px, -28px, 28px, 28px, 56px, 56px, 'sprite.png', 'rss', );
$vk-name: 'vk';
$vk-x: 28px;
$vk-y: 28px;
$vk-offset-x: -28px;
$vk-offset-y: -28px;
$vk-width: 28px;
$vk-height: 28px;
$vk-total-width: 56px;
$vk-total-height: 56px;
$vk-image: 'sprite.png';
$vk: (28px, 28px, -28px, -28px, 28px, 28px, 56px, 56px, 'sprite.png', 'vk', );
$spritesheet-width: 56px;
$spritesheet-height: 56px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($fb, $google, $rss, $vk, );
$spritesheet: (56px, 56px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
