doctype html
html(lang="ru-RU")
    head
        include ../layout/header
        title
            block title
    body
        <!--[if lte IE 9]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browsehappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->
        block content
        include ../layout/footer
