header.header
    div.top-block
        div.top-phone-contact
        div.middle-block
            div.logo
                a(href="#")
                    img(src="#", alt="")
                    .desc интернет магазин
            div.search
                .form-block
                    form(action="#")
                        div.form-item
                            input(type="text")
            div.delivery-basket
                div.delivery
                    div.content-block
                        i.icon.icon-basket
                        span.desc доставка в течении
                        span.time 24
                div.basket
                    div.icon-basket
                        div.count
                        div.info-basket
                            span.desc Ваша корзина
                            div.line-info
                                span.count-items 2
                                span.desc товара
                                span.count-money 1277
                                span.currency грн

    div.menu-block
        ul


