extends layout/main
include _mixin

block title
    | index


block content

    .wrapper
        include ./modules/header
        .menu
          ul.list-menu
            li.item-menu
              a(href="main.html").item-link Main
            li.item-menu
              a(href="cart.html").item-link Cart
    include ./modules/footer
